<li><a><i class="fa fa-bed"></i> <%= t('admin.sidemenu_14.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.condos.title'), admin_condos_path %>
    </li>
    <li>
      <%= link_to t('admin.condo_options.title'), admin_condo_options_path %>
    </li>
  </ul>
</li>