<li><a><i class="fa fa-bed"></i> <%= t('admin.sidemenu_13.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.lands.title'), admin_lands_path %>
    </li>
    <li>
      <%= link_to t('admin.land_options.title'), admin_land_options_path %>
    </li>
  </ul>
</li>