<div id="main-menu">
  <ul>
    <li>
      <a href="#stories" class="smooth-scroll"><i class="fa fa-home" aria-hidden="true"></i> <%= t('front.company_profile.main_menu.stories') %></a>
    </li>
    <li>
      <a href="#service" class="smooth-scroll"><i class="fa fa-building" aria-hidden="true"></i> <%= t('front.company_profile.main_menu.services') %></a>
    </li>
    <li>
      <a href="#about-us" class="smooth-scroll"><i class="fa fa-user" aria-hidden="true"></i><%= t('front.company_profile.main_menu.about_us') %></a>
    </li>
    <li>
      <a href="#contact-us" class="smooth-scroll"><i class="fa fa-phone" aria-hidden="true"></i> <%= t('front.company_profile.main_menu.contact_us') %></a>
    </li>
  </ul>
</div>