<% provide(:title, "Home") %>


<div style="
    background: rgb(126, 000, 67);
    height: 500px;
    margin-bottom: 20px;
">
  <div style=""></div>
  <div style="padding: 50px;">
    <button class="btn" style="
    background: #fff;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 20px;
        color: rgb(228, 000, 127);
        font-size: 1.4em;
    ">
      Test
    </button>
    <button class="btn" style="
        background: #fff;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 20px;
        color: rgb(228, 000, 127);
        font-size: 1.4em;
    ">
      Test
    </button>
  </div>
</div>