<div class="mainplane__not-found">
  <div class="mainplane__not-found__title">
    該当物件は 0件でした。
  </div>
  <div class="mainplane__not-found__description">
    条件に一致する情報は見つかりませんでした。再度条件を入力してください。
  </div>
</div>

<div class="mainplane__search-others">
  <div class="mainplane__search-others__title-base">
    <div class="mainplane__search-others__title">
      こちらのコンテンツも試して見てください
    </div>
  </div>
  <div class="mainplane__search-others__body">
    <div class="mainplane__search-others__body__item">
      <button class="btn btn-lg btn-info search-others__btn">アパートの一覧</button>
    </div>
    <div class="mainplane__search-others__body__item">
      <button class="btn btn-lg btn-info search-others__btn">土地の一覧</button>
    </div>
  </div>
</div>