<div class="container">
  <div class="input-name-title__base">
    <div class="input-name-title__caption">
      ユーザ名入力
    </div>
  </div>

  <div class="input-name-top__base">
    <div class="input-name-top__left">
      <%= form_tag('/user/complete', :method => :post) do %>
          <fieldset class="form-group input-name-top__width">
            <%= label_tag 'Please input your name' %>
            <%= text_field_tag 'user[name]', '', :class => 'form-control' ,:placeholder => 'Enter Name' %>
          </fieldset>

          <div class="input-name-top__submit">
            <%= submit_tag '送信', :class => 'btn btn-primary' %>
          </div>
      <% end %>
    </div>
  </div>
</div>