<ul class="nav nav-tabs">
  <li role="presentation" class="<%= activate_sub_menu(controller, "condos") %>" >
    <%= link_to t('admin.condos.title'), admin_condos_path %>
  </li>
  <li role="presentation" class="<%= activate_sub_menu(controller, "condo_options") %>" >
    <%= link_to t('admin.condo_options.title'), admin_condo_options_path %>
  </li>
</ul>