<ul class="nav nav-tabs">
  <li role="presentation" class="<%= activate_sub_menu(controller, "lands") %>" >
    <%= link_to t('admin.lands.title'), admin_lands_path %>
  </li>
  <li role="presentation" class="<%= activate_sub_menu(controller, "land_options") %>" >
    <%= link_to t('admin.land_options.title'), admin_land_options_path %>
  </li>
</ul>