<div class="container">
  <div class="user-edit-title__base">
    <div class="user-edit-title__caption">
      登録情報変更
    </div>
  </div>

  <div class="user-edit-top__base">
    <div class="user-edit-top__left">
      <table class="table table-hover user-edit__table">
        <tr>
          <th>ユーザー名</th>
          <td><%= current_user.name %></td>
          <td><button class="btn btn-default" >変更する</button></td>
        </tr>
        <tr>
          <th>住所</th>
          <td>
            <%= current_user.profile.postal_code unless current_user.profile.nil? %>
            <%= current_user.profile.address unless current_user.profile.nil? %>
          </td>
          <td><button class="btn btn-default" >変更する</button></td>
        </tr>
        <tr>
          <th>配信用メールアドレス</th>
          <td>
            <%= current_user.profile.reciever_email unless current_user.profile.nil? %>
          </td>
          <td><button class="btn btn-default" >変更する</button></td>
        </tr>
        <tr>
          <th>登録情報の削除</th>
          <td></td>
          <td><button class="btn btn-danger" >削除する</button></td>
        </tr>
      </table>
    </div>
  </div>

</div>