<div class="container">
  <div class="user-edit-title__base">
    <div class="user-edit-title__caption">
      氏名変更
    </div>
  </div>

  <div class="user-edit-top__base">
    <div class="user-edit-top__left">
      <%= form_tag('/user/name', :method => :put) do %>

          <div class="field">
            <%= label_tag :name %><br />
            <%= text_field_tag 'user[name]', @user.name, {:class => 'form-control'} %>
          </div>

          <div class="actions">
            <%= submit_tag "Update", :class => 'form-control' %>
          </div>
      <% end %>

    </div>
  </div>

</div>