<% provide(:title, "Home") %>

<div class="top-body__base">
  <div class="top-body__title">
    物件を探す
  </div>

  <div class="container">
    <div class="top-body__buttons">
      <%= link_to 'アパート', apartments_path, :class => 'btn top-body__categories' %>
      <%= link_to 'コンド', apartments_path, :class => 'btn top-body__categories' %>
      <%= link_to '家', apartments_path, :class => 'btn top-body__categories' %>
      <%= link_to '土地', apartments_path, :class => 'btn top-body__categories' %>
    </div>
  </div>


</div>
