
<div class="container">
  <div class="well">
    <p class="error-404__title"><i class="fa fa-ban"></i> このページへのアクセス権限がありません。</p>

    <p><%= Settings.site[:name] %>をご利用いただきましてありがとうございます。</p>

    <p>
      誠に恐れ入りますが、お客様はアクセスしようとしているページへの権限がありません。<br>
      もし管理画面へのアクセスをご希望の場合は管理者までお問い合わせください。
    </p>
  </div>
</div>
