//$main_color: rgb(3, 18, 126);
//$main_deep_color: rgb(19, 2, 85);
//$main_light_color: rgb(1, 49, 228);
//$white: #fff;

.main {
  background-color: $white;
}

.flex-container {
  display: flex;
  min-height: 200px;
  justify-content: space-between;
  align-content: center;
  flex-flow: wrap;
}

.top-header {
  background: $white;
  height: 200px;
  margin: 0 auto;
}

.top-header__row {
  color: $main_light_color;
  margin-left: 20%;
}

.top-header__icon-body {
  color: $white;
  margin-top: 50px;
}

.top-header__icon-img {
  display: table-cell;
  width: 80px;
  height: 80px;
  border: 2px $main_deep_color solid;
  border-radius: 50%;
  background: $main_color;
  font-size: 3.0em;
  text-align: center;
  vertical-align: middle;
}

.top-header__title {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 3em;
  color: $main_light_color;
  line-height: 40px;
  display: inline-block;
  margin-top: 50px;
}

.top-header__desc-body {
  margin-left: 10px;
  margin-right: 10px;
}

.top-header__desc-contents {
  display: inline-block;
  margin-top: 40px;
  text-align: left;
  padding-top: 40px;
}

.top-header__social-body {
  display: flex;
  color: $white;
  margin-top: 70px;
}

.top-header__social-icon {
  display: table-cell;
  width: 50px;
  height: 50px;
  border: 2px $main_deep_color solid;
  border-radius: 50%;
  background: $main_color;
  font-size: 2.0em;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.top-header__login--signed-in {
  float: right;
  margin-top: 5px;
  margin-right: 20px;
  display: inline-block;
  font-size: 0.5em;
  height: 20px;
}