//$main_color: rgb(3, 18, 126);
//$main_deep_color: rgb(19, 2, 85);
//$main_light_color: rgb(1, 49, 228);
//$white: #fff;
//$not_visit_in_blue: $white;
//$visited_in_blue: #8fff7b;
//$hover_in_blue: rgba(255,255,255,0.9);

footer {
  a:link {
    color: $not_visit_in_blue;
  }

  a:visited {
    color: $visited_in_blue;
  }

  a:hover {
    color: $hover_in_blue;
  }
}

.top-footer__detail {
  margin: 30px;
}

.top-footer {
  text-align: left;
  padding: 10px;
  background: $main_color;
  color: #FFFFFF;
  width: 100%;
  height: 130px;
  font-size: 1.2em;
}

.top-footer__desc {
  bottom: 0;
}