<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="main-title__base">
        <div class="main-title--left">
          <div class="main-title__caption">
            全国のアパートを探す
          </div>
        </div>
        <div class="main--title-clearfix"></div>
      </div>

      <div class="province-map__base">
        <% unless @provinces.nil? %>
          <% @provinces.each do |province| %>
            <button class="province-map__item" onclick="location.href='<%= apartment_district_list_path(province.original_id) %>'">
              <%= province.name_ja %>
              <span class="district-map__count"><%= "#{province.apartments.size}" %></span>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>