$main_color: rgb(3, 18, 126);
$main_deep_color: rgb(19, 2, 85);
$main_light_color: rgb(1, 49, 228);
$white: #fff;

// color of link
$not_visit_in_blue: #fff;
$visited_in_blue: #8fff7b;
$hover_in_blue: rgba(255,255,255,0.9);

$color_of_error: #ff2647;