<div class="list-header">
  <div class="logo">SNK Properties</div>
  <div class="description"><a href="#">物件数No.1の不動産・住宅情報サイト SNK Properties</a></div>
  <div class="btn btn-xs btn-default login_btn ">ログイン</div>
</div>

<div class="control-box">
  <%= image_tag("snk_logo.jpg", :style => 'width: 100px;', :alt => 'logo') %>
  <button class="control-box__btn" disabled>賃貸</button>
  <button class="control-box__btn" disabled>新築</button>
  <button class="control-box__btn" disabled>中古</button>
  <button class="control-box__btn" disabled>新築</button>
  <button class="control-box__btn" disabled>中古</button>
  <button class="control-box__btn" disabled>土地</button>
  <button class="control-box__btn" disabled>注文住宅</button>
  <button class="control-box__btn" disabled>リフォーム</button>
  <button class="control-box__btn" disabled>売却</button>
  <button class="control-box__btn" disabled>引越し</button>
</div>