<footer>
  <div class="snk-footer">
    <a href="#" class="snk-footer__link">SNK Propertyとは</a>
    <a href="#" class="snk-footer__link">サイトマップ</a>
    <a href="#" class="snk-footer__link">ご意見・ご要望</a>
    <a href="#" class="snk-footer__link">掲載物件に関するお問合せ</a>
    <a href="#" class="snk-footer__link">サービス利用規約</a>
    <br>
    <a href="#" class="snk-footer__link">免責事項</a>
    <a href="#" class="snk-footer__link">個人情報について</a>
    <a href="#" class="snk-footer__link">SNK Propertyに掲載する</a>
    <a href="#" class="snk-footer__link">スタッフ募集</a>
    <a href="#" class="snk-footer__link">運営会社について</a>
    <br><br>
    <div style="font-size: 0.7em;">Copyright © SNK Property. All Rights Reserved.</div>
  </div>
</footer>
