<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "GentelellaOnRails" %> </title>

  <%= render 'layouts/partials/front_assets' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #fff;">
<div class="container">
  <header style="background: #fff;
      height: 200px;
      margin: 0 auto;
      text-align: center;">
    <div class="row" style="color: rgb(228, 000, 127); margin-left: 20%;">
        <div style="color: #fff; margin-top: 50px; margin-left: 10px; margin-right: 10px; float: left;">
          <div style="width: 80px;
              height: 80px;
              border: 2px rgb(085, 000, 037) solid;
              line-height: 90px;
              border-radius: 50%;
              background: rgb(126, 000, 67);">
            <i class="fa fa-home" aria-hidden="true" style="font-size: 3em;"></i>
          </div>
        </div>
        <div style="text-align: left; float: left; margin-left: 10px; margin-right: 10px;
            font-size: 3em;
            color: rgb(228, 000, 127);
            line-height: 40px;
            display: inline-block;
            margin-top: 50px;">
          SNK<br>
          Properties
        </div>
        <div style="float: left; margin-left: 10px; margin-right: 10px;">
          <div style="display: inline-block;
              margin-top: 40px;
              text-align: left;
              padding-top: 40px;">
            物件数No.1の<br>
            不動産・住宅情報サイトSNK Property
          </div>
        </div>
      <div style="color: #fff; margin-top: 70px; margin-left: 10px; margin-right: 10px; float: left;">
        <div style="width: 50px;
            height: 50px;
            border: 2px rgb(085, 000, 037) solid;
            line-height: 55px;
            border-radius: 50%;
            background: rgb(126, 000, 67);">
          <i class="fa fa-facebook" aria-hidden="true" style="font-size: 2em;"></i>
        </div>
      </div>
      <div style="color: #fff; margin-top: 70px; margin-left: 10px; margin-right: 10px; float: left;">
        <div style="width: 50px;
            height: 50px;
            border: 2px rgb(085, 000, 037) solid;
            line-height: 55px;
            border-radius: 50%;
            background: rgb(126, 000, 67);">
          <i class="fa fa-twitter" aria-hidden="true" style="font-size: 2em;"></i>
        </div>
      </div>

      <div style="clear: left;"></div>
    </div>

  </header>
</div>

<%= yield %>

    <div style="
        text-align: left;
        padding: 10px;
        background: rgb(126, 000, 67);
        color: #FFFFFF;
        width: 100%;
        height: 200px;
        font-size: 1.2em;
    ">
      <small style="bottom: 0;">© 2017 SNK Property Powered by Suneikii.com All Rights Reserved.</small>
    </div>
</body>
</html>
