<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/partials/meta_landing' %>
  <title><%= "#{yield(:title)}" %></title>
  <%= render 'layouts/partials/landing_assets' %>
</head>

<body>
  <%= yield %>
</body>
</html>
vagrant